pkgbase = wxglade
	pkgdesc = wxGlade is a GUI builder written in Python for the GUI toolkit wxWidgets/wxPython
	pkgver = 1.0.3
	pkgrel = 2
	url = http://wxglade.sourceforge.net/
	arch = any
	license = MIT
	makedepends = icoutils
	makedepends = gendesk
	depends = python
	depends = python-wxpython
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	depends = shared-mime-info
	source = https://github.com/wxGlade/wxGlade/archive/v1.0.3.tar.gz
	source = application-x-wxg.xml
	sha256sums = d4fbb25004b10b248da0d0385261ff84affad2c51abc66b3741c1546b9d25deb
	sha256sums = f651ff097678077eac865c64a655107c9a4aa4fd0bf65e233713a5ed916608c0

pkgname = wxglade

